.textInput {
	padding: var(--spacing-m);
	border-radius: var(--border-radius-default);
	border: var(--border-width-xxs) solid var(--color-secondary-background);
	outline: none;
	font: inherit;
	color: var(--color-primary-accent);
	background-color: transparent;
}
